<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css'>
    <link href="/style.css" rel="stylesheet" >
    <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href='/favicon.ico'>
    <title>Happy Birthday <%= @name %> !!</title>
</head>

<body>
<div class='container'>
    <div class='wrapper'>
    <h1>Happy Birthday <%= @name %>!</h1>
    <br>
    <h2>Have a great day, full of joy and happiness</h2>
    <h2> and don't forget to get p***** tonight!!!</h2>
    </br>
    <h2> <%= @name2 %> </h2>
    <img class='center' src='/birthday.png'>
    </div>
</div>
</body>
</html>
